# <%= app_name %>

This is a Rails <%= Rails::VERSION::MAJOR %> app created using [modern-rails-template][]. Please check README of the template repository to see the features available out of the box. To have a look to the new features introduced by Rails 5.2 (credentials for example), check this [article][].

## How to use this project

* Use [gitflow][] for version control. More info [here].
* We advise you to use [overmind][] to launch your processes in development. You just need to run `overmind s -f Procfile.dev`. Of course, another process manager, like [foreman][], would work too.
* We advise you to deploy to [Heroku][]. Do not forget to add the [Redis] add-on.

[article]: https://evilmartians.com/chronicles/rails-5-2-active-storage-and-beyond
[modern-rails-template]: https://github.com/damienlethiec/modern-rails-template
[git-flow]: https://github.com/nvie/gitflow
[here]: http://nvie.com/posts/a-successful-git-branching-model/
[overmind]: https://github.com/DarthSim/overmind
[foreman]: https://github.com/ddollar/foreman
[heroku]: https://www.heroku.com/
[redis]: https://devcenter.heroku.com/articles/heroku-redis
